.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blank{
  color: red;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(218, 217, 217);
  color: rgb(67, 67, 67);
  position: fixed;
  width: 100%;
}

.light{
  background-color: rgb(218, 217, 217);
  color: rgb(67, 67, 67);
}
.dark{
  background-color: rgb(67, 66, 66);
  color: rgb(198, 198, 198);
}

.mix{
  background: linear-gradient(150deg, rgb(255, 109, 109), rgb(255, 255, 91));
  color: white;
}
.blue{
  background-color: #c061fb;
  color: rgb(30, 30, 55);
}



nav ul{
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
  font-weight: 500;
  font-size: 16px;
}
nav ul a{
  text-decoration: none;
  color: black;
}
.logo{
  font-weight: 700;
  font-size: 30px;
}
.logo a{
  text-decoration: none;
  color: black;
}


.body{
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.textlight{
  background-color: white;
  color: black;
}
.textdark{
  color: black;
  background-color: rgb(154, 154, 154);
}

button{
  background-color: grey;
  color: white;
  border-radius: 5px;
  padding: 3px;
  margin: 0 10px 0 0;
  border: 2px solid rgb(59, 59, 59);
  font-size: 16px;
}
button:active{
  border: 2px solid rgb(129, 128, 128);
}


.textPreview{
  width: 750px;
  height: 300px;
  border: 1px solid gray;
  padding: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}




.theme{
  display: flex;
  gap: 10px;
}

.toggle-switch {
  position: relative;
  width: 45px;
  height: 50px;
  top: 13px;
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 20px;
  background-color:rgb(44, 44, 44);
  border-radius: 25px;
  cursor: pointer;
  border: 2px solid rgb(44, 44, 44);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: white;
}

.slider::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 8px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px white;
  box-shadow: inset 12px -4px 0px 0px white;
  background-color: rgb(44, 44, 44);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(20px);
  background-color: black;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.about_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.about_box{
  border: 2px dashed;
  width: 800px;
  height: 300px;
  color: black;
  text-align: center;
  text-decoration: underline;
}